{% extends '../blocks/credentials_block.html' %}

{% block content %}
<h1 class="text-center">Login</h1>
<a href="{% url 'register'%}"><button style="position:fixed;top: 10px;right: 15px;" class="btn btn-primary" >Register</button></a>
<form class="container" method="post" enctype="multipart/form-data"
 action="{% url 'employer_login' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1" required>
    </div>
   
    <button type="submit" class="btn btn-primary">login</button>
  </form>
{% endblock content %}

