<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hacther</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg " id="nav-section">
    <div class="container-fluid">
      <a class="navbar-brand" id="reload">
        <img src="../../media/logos/hatcher.png" class="d-inline-block align-text-top hatcher-logo" alt="Hatcher">
      </a>

      <button class="navbar-toggler" style="border: none;" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars" style="color: #B197FC;"></i>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a class="nav-link active fs-4" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-4" href="#feature-section">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-4" href="#price-section">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-4" href="#contact-section">Contact</a>
          </li>
        </ul>
      </div>
      <div class=" text-center" id="nav-btns">
        <button type="button" class="btn btn-primary fs-5 shake btn-gradient1" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop">
          As Employer
        </button>
        <button type="button" class="btn btn-primary fs-5 shake btn-gradient2" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop2">
          As Candidate
        </button>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>

  <div class="image-div"></div>
  <div class="   overflow-hidden text-center ">
    <h1 class="sections-heading">Join With Us</h1>
    <!-- Modal Toggle Buttons Here -->
    <div class="container text-center">
      <button type="button" class="btn btn-primary fs-5 btn-gradient1" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">
        As Employer
      </button>
      <button type="button" class="btn btn-primary fs-5 btn-gradient2" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop2">
        As Candidate
      </button>
    </div>
  </div>


  <!-- Modals Here -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">As Employer</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex flex-column justify-content-evenly flex-sm-row user-modal">
          <a href="{% url 'employer_register'%}"><button class="btn  btn-secondary m-2">Employer Register</button></a>
          <a href="{% url 'employer_login'%}"><button class="btn  btn-success m-2">Employer Login</button></a>

        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">As Employer</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex flex-column justify-content-evenly flex-sm-row user-modal">
          <a href="{% url 'register'%}"><button class="btn  btn-secondary  m-2">Candidate Register</button></a>
          <a href="{% url 'login'%}"><button class="btn  btn-success m-2">Candidate Login</button></a>
        </div>
      </div>
    </div>
  </div>


  <!-- Card Sections -->
  <div class="container mt-5 mb-5 " id="feature-section">
    <h1 class="sections-heading">Features</h1>
    <div class="card-group">
      <div class="card rounded">
        <div class="p-1 ">
          <img src="../../media/logos/Skll_Based_InternSip.avif" class="card-img-top border rounded" alt="...">
        </div>

        <div class="card-body">
          <h5 class="card-text"><b>Skill-Based Internships</b></h5>
          <p class="card-title">Unlike traditional platforms, Hachter focuses on providing internships that align with
            an individual's skills and career goals. By connecting businesses with skilled candidates, Hachter ensures
            meaningful experiences for both parties, enhancing employability and fostering professional growth.</p>
        </div>

      </div>
      <div class="card rounded">
        <div class="p-1">
          <img src="../../media/logos/community_driven_learning.avif" class="card-img-top border rounded" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title"><b>Community-Driven Learning</b></h5>
          <p class="card-text">The integrated community portal allows users to share resources, ask questions, and
            collaborate on projects. This feature encourages knowledge exchange and creates a supportive environment for
            skill development and networking.</p>
        </div>

      </div>
      <div class="card rounded">
        <div class="p-1">
          <img src="../../media/logos/smart_application_tracking.avif" class="card-img-top border rounded" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title"><b>Smart Application Tracking</b></h5>
          <p class="card-text">Hachter offers an intuitive applied/requested applications portal, enabling users to
            monitor their job and internship applications seamlessly. Businesses can also manage incoming requests,
            ensuring smooth communication and transparent updates.</p>
        </div>

      </div>
    </div>
  </div>


  <!-- Price Section -->
  <h1 class="sections-heading" id="price-section">Pick Your Perfect Plan</h1>
  <div class="container price-section">
    <div class="card mb-3 silver_card price_card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title price_card_title">Silver Package</h5>
        <p class="d-flex justify-content-evenly"><span class="price fs-4 ">299&#8377; /mo</span><a href="#"
            class="btn btn-primary ">Take It</a></p>
        <div class="card-text d-flex flex-column align-items-start price_card_features">
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill="#1f1c1c" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Priority Support
          </p>
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill="#1f1c1c" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Guidance
          </p>
          <p style="color: #27242480">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill-opacity="0.65882" fill="#6a6767" fill-rule="nonzero" stroke="none" stroke-width="1"
                stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Skill Enhancement
          </p>
          <p style="color: #27242480">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill-opacity="0.65882" fill="#6a6767" fill-rule="nonzero" stroke="none" stroke-width="1"
                stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Career Growth
          </p>
          <p style="color: #27242480">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill-opacity="0.65882" fill="#6a6767" fill-rule="nonzero" stroke="none" stroke-width="1"
                stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Expert Insights
          </p>
          <p style="color: #27242480">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill-opacity="0.65882" fill="#6a6767" fill-rule="nonzero" stroke="none" stroke-width="1"
                stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Mock Interviwes
          </p>
        </div>
      </div>
    </div>
    <div class="card  mb-3 golden_card price_card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title price_card_title">Gold Package</h5>
        <p class="d-flex justify-content-evenly"><span class="price fs-4 ">499&#8377; /mo</span><a href="#"
            class="btn btn-primary ">Take It</a></p>
        <div class="card-text d-flex flex-column align-items-start price_card_features">
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill="#1f1c1c" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Priority Support
          </p>
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill="#1f1c1c" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Guidance
          </p>
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill="#1f1c1c" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Skill Enhancement
          </p>
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill="#1f1c1c" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Career Growth
          </p>
          <p style="color: #27242480">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill-opacity="0.65882" fill="#6a6767" fill-rule="nonzero" stroke="none" stroke-width="1"
                stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Expert Insights
          </p>
          <p style="color: #27242480">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill-opacity="0.65882" fill="#6a6767" fill-rule="nonzero" stroke="none" stroke-width="1"
                stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Mock Interviwes
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-3 diamond_card price_card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title price_card_title">Diamond Package</h5>
        <p class="d-flex justify-content-evenly"><span class="price fs-4 ">799&#8377; /mo</span><a href="#"
            class="btn btn-primary ">Take It</a></p>
        <div class="card-text d-flex flex-column align-items-start price_card_features">
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill="#1f1c1c" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Priority Support
          </p>
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill="#1f1c1c" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Guidance
          </p>
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill="#1f1c1c" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Skill Enhancement
          </p>
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill="#1f1c1c" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Career Growth
          </p>
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill="#1f1c1c" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Expert Insights
          </p>
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
              style="fill:#40C057;">
              <g fill="#1f1c1c" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                  </path>
                </g>
              </g>
            </svg>
            Mock Interviwes
          </p>
        </div>
      </div>
    </div>
  </div>


  <!-- Feedback Section -->
  <h1 class="sections-heading mt-5 mb-2" id="price-section">FeedBack</h1>
  <div class="container contact-section d-flex flex-column flex-sm-row justify-content-evenly  mb-5"
    id="contact-section">
    <section class="feedback-section">
      Hatcher is a comprehensive platform designed to bridge the gap between businesses and aspiring professionals.
      <br>
      It empowers individuals to gain practical skills, real-world experience, and career opportunities. For businesses,
      Hatcher offers access to talented individuals ready to contribute and grow, fostering a mutually beneficial
      environment for success.
    </section>

    <div class="container  form-container  d-lg-flex justify-content-center">
      <form action="{% url 'feedback' %}" method="post"
        class="contact-form  text-start border rounded d-flex flex-column justify-content-between">
        {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" id="name" placeholder="Full Name"  name="name" required>
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
        </div>
        <div class="mb-3">
          <textarea class="form-control" id="feedback" name="feedback" rows="3" style="resize: none;" placeholder="Any FeedBack"
            required></textarea>
        </div>
        <input type="submit" class="w-50  align-self-center  btn form-btn fs-5">
      </form>
    </div>
  </div>

  <!-- Footer Section -->
  <div class="footer bg-black text-light ">
    <div class="footer_container">
      <div class="footer_container1">
        Start <span class="alternate_word" id="alternate_word">Hiring</span><br>with Hatcher
      </div>
      <button class="get_started_free">Get started for free</button>
    </div>
    <br>
    <br>
    <div class="footer_mentions">
      <div class="footer_content">
        <!-- <span style="font-size: x-large;">Hatcher</span> -->
        <a href="">
          <img src="../../media/logos/hatcher.png" width="150px" class="hatcher_logo2" alt="">
        </a>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 417" class="footer_img">
            <path
              d="M459.37 104.22c.32 4.54.32 9.1.32 13.64 0 138.72-105.58 298.56-298.55 298.56-59.45 0-114.68-17.22-161.14-47.1 8.45.97 16.57 1.3 25.34 1.3 49.05 0 94.21-16.58 130.27-44.84A105.12 105.12 0 0 1 57.51 253a132.7 132.7 0 0 0 19.81 1.62c9.42 0 18.84-1.3 27.61-3.57A104.95 104.95 0 0 1 20.8 148.07v-1.3a105.68 105.68 0 0 0 47.43 13.32A104.86 104.86 0 0 1 21.44 72.7c0-19.49 5.2-37.36 14.3-52.95a298.27 298.27 0 0 0 216.36 109.8c-1.62-7.8-2.6-15.91-2.6-24.03C249.5 47.69 296.28.58 354.44.58c30.2 0 57.5 12.67 76.67 33.14a206.6 206.6 0 0 0 66.6-25.34 104.65 104.65 0 0 1-46.14 57.83c21.12-2.28 41.59-8.13 60.43-16.25a225.57 225.57 0 0 1-52.63 54.26z">
            </path>
          </svg>
          Twitter
        </span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" class="footer_img">
            <path
              d="M15.6 2c.4 1.4.4 4.4.4 4.4s0 3-.4 4.4c-.2.8-.8 1.4-1.5 1.6-1.4.4-6.1.4-6.1.4s-4.7 0-6-.4c-.8-.2-1.4-.8-1.6-1.6C0 9.4 0 6.4 0 6.4S0 3.4.4 2C.6 1.2 1.2.6 1.9.4 3.3 0 8 0 8 0s4.7 0 6 .4c.8.2 1.4.8 1.6 1.6zM6.4 9.2l4.8-2.8-4.8-2.8v5.6z">
            </path>
          </svg>
          YouTube
        </span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" class="footer_img">
            <path
              d="M15.6 2c.4 1.4.4 4.4.4 4.4s0 3-.4 4.4c-.2.8-.8 1.4-1.5 1.6-1.4.4-6.1.4-6.1.4s-4.7 0-6-.4c-.8-.2-1.4-.8-1.6-1.6C0 9.4 0 6.4 0 6.4S0 3.4.4 2C.6 1.2 1.2.6 1.9.4 3.3 0 8 0 8 0s4.7 0 6 .4c.8.2 1.4.8 1.6 1.6zM6.4 9.2l4.8-2.8-4.8-2.8v5.6z">
            </path>
          </svg>
          Instagram
        </span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 448 449" class="footer_img">
            <path
              d="M448 25.2v398.5c0 13.7-11.1 24.7-24.7 24.7H309.1V275h58.2l8.7-67.6h-67v-43.2c0-19.6 5.4-32.9 33.5-32.9h35.8V70.8c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9h-58.4V275h58.4v173.5H24.7C11.1 448.5 0 437.4 0 423.8V25.2C0 11.6 11.1.5 24.7.5h398.5C436.9.5 448 11.6 448 25.2z">
            </path>
          </svg>
          Facebook
        </span>
      </div>
      <div class="footer_content">
        <span class="mention-head">Use Cases</span>
        <span class="mentions">Talent Acquisition</span>
        <span class="mentions">Skill Development</span>
        <span class="mentions">Job Preparation</span>
        <span class="mentions">Career Launch</span>
        <span class="mentions">Internship Hunting</span>
        <span class="mentions">Networking Opportunities</span>
        <span class="mentions">Customized Guidance</span>
        <span class="mentions">Freelance Opportunities</span>
      </div>
      <div class="footer_content">
        <span class="mention-head">Explore</span>
        <span class="mentions">Personal Growth Plans</span>
        <span class="mentions">Company Listings</span>
        <span class="mentions">Industry Insights</span>
        <span class="mentions">Development Features</span>
        <span class="mentions">Job Opportunities</span>
        <span class="mentions">Pricing</span>
      </div>
      <div class="footer_content">
        <span class="mention-head">Contact Information</span>
        <span class="mentions">support@hatcher.com</span>
        <span class="mentions">+1-234-567-890</span>
        <span class="mentions">Color wheel</span>
        <span class="mentions">123 Hatcher Lane, Startup City</span>
      </div>
    </div>
    <br>
    <br>
    <center>
      <p class="Copyright">Copyright Notice: © 2025 Hatcher. All rights reserved</p>
    </center>
  </div>
  </div>


  <script>
    document.getElementById('reload').addEventListener('click', function () {
      location.reload();
    });
  </script>
  <script src="{% static 'js/landing_page.js' %}"></script>
</body>

</html>