{% extends '../blocks/credentials_block.html' %}
{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock stylesheet %}
{% block content %}
<div class="main-container"">

  <form id="register-form" class="container text-center" method="post" enctype="multipart/form-data"
  action="{% url 'register' %}" >
  {% csrf_token %}

  <div class="d-flex flex-column align-items-center">
    <h1 class="text-center sections-heading">Create or Login</h1>
    <div class="details-group" >
      <div class="input_group_1" >
      <label for="FirstName">First Name</label>
        <input  name="FirstName" type="text" class="" id="FirstName"  autocomplete="First Name" dir="auto" 
        value="" autocapitalize="off" required>
      </div>
      <div style="height: 16px;"></div>
      <div class="input_group_5" >
        <label for="LastName">Last Name</label>
        <input  name="LastName" type="text" class="" id="LastName"  autocomplete="First Name" dir="auto" 
        value="" autocapitalize="off" required>
      </div>
      <div style="height: 16px;"></div>
      <div class="input_group_2" >
        <label for="Email">Email</label>
        <input  name="Email" type="text" class="" id="Email"  autocomplete="First Name" dir="auto" 
        value="" autocapitalize="off" required>
      </div>
      <div style="height: 16px;"></div>

      <div class="d-flex align-items-center pass_group">
        <div class="input_group_3" >
          <label for="Password">Password</label>
          <input  name="Password" type="password" class="" id="Password"  autocomplete="First Name" dir="auto" 
          value="" autocapitalize="off" required>
        </div>
        <img src="/media/logos/show.png" height: 18px; class="open_eye visually-hidden" alt="Show" id="show_pass">
        <img src="/media/logos/hide.png" height: 18px;  class="close_eye " alt="Hide" id="hide_pass">
      </div>
      <div style="height: 16px;"></div>

      <div class="d-flex align-items-center confirm_pass_group">
        <div class="input_group_4" >
          <label for="Confirm_Password">Confirm Password</label>
          <input  name="Username" type="password" class="" id="Confirm_Password"  autocomplete="First Name" dir="auto" 
          value="" autocapitalize="off" required>
        </div>
        <img src="/media/logos/show.png" height: 18px; class="open_eye visually-hidden" alt="show" id="show_confirm_pass">
        <img src="/media/logos/hide.png" height: 18px;  class="close_eye " alt="hide" id="hide_confirm_pass">
      </div>


    </div>
    <div class="otp visually-hidden" id="otp-section">
      <p>Otp has been send to 
        <br>
        <span id="otp-email"></span>
       </p>
      <div class="otp_input_group">
      <input type="text" class="text-center otp-input" id="otp_val1" maxlength="1">
      <input type="text" class="text-center otp-input" id="otp_val2" maxlength="1">
      <input type="text" class="text-center otp-input" id="otp_val3" maxlength="1">
      <input type="text" class="text-center otp-input" id="otp_val4" maxlength="1">
    </div>
    <div style="height: 16px;"></div>
    <button type="button" id="verify-otp-btn">Verify OTP</button>
      <!-- <p style="display: block;">Otp resent in <span id="countdown" data-time-left="60">60</span> seconds</p>
      <button class="sub-btn">Resend</button> -->
    </div>
  </div>
  <div style="height: 25px; color: red; font-size: small;" id="error-message">
    {% if error %}
    {{error}}
    {% endif %}
  </div>
  <center>
    <button  type="submit" id="submit-btn" class="sub-btn ">Register</button>
    <br id="break">
    <p>Already register ? <a href="{% url 'login'%}" class="login">Login</a></p>
  </center>
  </form>
</div>
{% endblock content %}
{% block script %}
{% load static %}
  <!-- <script src="{% static 'js/utils.js' %}" type="module"></script> -->

  <script src="{% static 'js/register.js' %}" ></script>
{% endblock script %}

