{% extends '../blocks/credentials_block.html' %}
{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock stylesheet %}
{% block content %}
<div class="main-container">
  
  <form class="container text-center" method="post" enctype="multipart/form-data"
  action="{% url 'register' %}" onsubmit="return validatedetails()" >
  {% csrf_token %}

  < class="d-flex flex-column align-items-center">
    <h1 class="text-center sections-heading">Create or Login</h1>
    <div class="details-group">
      <div class="input_group_1" >
      <label for="FirstName">First Name</label>
        <input  name="FirstName" type="text" class="" id="FirstName"  autocomplete="First Name" dir="auto" 
        value="" autocapitalize="off" required>
      </div>
      <div style="height: 16px;"></div>
      <div class="input_group_5" >
        <label for="LastName">Last Name</label>
        <input  name="LastName" type="text" class="" id="LastName"  autocomplete="First Name" dir="auto" 
        value="" autocapitalize="off" required>
      </div>
      <div style="height: 16px;"></div>
      <div class="input_group_2" >
        <label for="Email">Email</label>
        <input  name="Email" type="text" class="" id="Email"  autocomplete="First Name" dir="auto" 
        value="" autocapitalize="off" required>
      </div>
      <div style="height: 16px;"></div>
      <div class="input_group_3" >
        <label for="Password">Password</label>
        <input  name="Password" type="password" class="" id="Password"  autocomplete="First Name" dir="auto" 
        value="" autocapitalize="off" required>
      </div>
      <div style="height: 16px;"></div>
      <div class="input_group_4" >
        <label for="Confirm_Password">Confirm Password</label>
        <input  name="Username" type="password" class="" id="Confirm_Password"  autocomplete="First Name" dir="auto" 
        value="" autocapitalize="off" required>
      </div>
    </div>
    <div class="otp">
      <p>Otp has been send to <span id="otp_email"></span> </p>
      <input type="number"  id="otp-val1" maxlength="1">
      <input type="number"  id="otp-val2" maxlength="1">
      <input type="number"  id="otp-val3" maxlength="1">
      <input type="number"  id="otp-val4" maxlength="1">
      <button>Resend</button>
      <p id="otp-status-message" class="otp-status-message"></p>
    </div
  
  </div>
  <div style="height: 25px; color: red; font-size: small;" id="error-message">
    {% if error %}
    {{error}}
    {% endif %}
  </div>
  <button class="sub-btn"> Next</button>
  <center>
    <button  type="submit" id="submit-btn" class="sub-btn hidden">Register</button>
    <br>
    <p>Already register ? <a href="{% url 'login'%}" class="login">Login</a></p>
  </center>
  </form>
</div>
{% endblock content %}
{% block script %}
{% load static %}
  <script src="{% static 'js/email_verify.js' %}"></script>
  <script src="{% static 'js/register.js' %}"></script>
{% endblock script %}

