<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hatcher</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link  href="/media/logos/hatcher_tab.png" rel="icon" type="image/png">
    {% block stylesheet %}
    {% endblock stylesheet %}
</head>
<style>
  .hatcher-logo{
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<body>
  <a class="hatcher-logo" id="reload">
    <img src="/media/logos/hatcher.png" height="65" class="d-inline-block align-text-top hatcher-logo" alt="Hatcher">
  </a>
    {% block content%}
    {% endblock content%}
    
    {% block script %}
    {% endblock script %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script>
        document.getElementById('reload').addEventListener('click', function() {
          location.reload();
        });
    </script>
    <script>
      const image = document.querySelector(".hatcher-logo");
      const timeline_hatcher = gsap.timeline({ defaults: { duration: 1, ease: "bounce.out"},repeat:-1 ,repeatDelay:2});

        timeline_hatcher.fromTo(
          image,
          {
            scale: 0.5
          },
          {
            scale: 1,
            ease: "bounce.out"
          }
        );
    </script>
</body>
</html>