<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock title %}</title>
  
  {% load static %}
  <link href="/media/logos/hatcher_tab.png" rel="icon" type="image/png">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>
  {% block css %} {% endblock css %}
</head>

<body>
  <div id="top"></div>
  <nav class="navbar navbar-expand-lg " id="nav-section">
    <div class="container-fluid">
      <button class="navbar-toggler" style="border: none;" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars" style="color: #B197FC;"></i>
      </button>
      <div class="collapse navbar-collapse d-flex flex-row justify-content-between" id="navbarNav">
        <div class="d-flex flex-row ">
          <a class="navbar-brand" id="reload">
            <img src="/media/logos/hatcher.png" class="d-inline-block align-text-top hatcher-logo" alt="Hatcher">

          </a>
          <ul class="navbar-nav text-center">
            <li class="nav-item">
              <a class="nav-link active fs-5" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fs-5" href="{% url 'community_post:post_list' %}">Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fs-5" href="{%  url 'dashboard:profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fs-5" href="{% url 'dashboard:applications' %}">Applications</a>
            </li>
            </li>
          </ul>
        </div>


        <!-- <div>
          <a href="{% url 'logout' %}"><button class="btn btn-danger">logout</button></a>
          <a href="{% url 'community_post:post_list' %}"><button class="btn btn-primary">Community</button></a>
        </div> -->

        <div style="/* width: 110px; */border: 1px solid #e5d9d9;padding: 5px;border-radius: 34px;/* height: 50px; */margin-right: 59px;" id="toggle_profile_box" class="d-flex flex-row align-items-center">
          <img src="{{ user.user_profile_image.url }}" alt="Profile Image" style="border-radius: 50%;
          height: 35px;
          width: 35px;
          object-fit: cover;
          background: #857d7d3b;">
          <svg class="profile_dropdown rotate-180deg" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" viewBox="0 0 20 20">
            <path fill="black" d="M9.37 6.963L5.261 11.61a1.104 1.104 0 000 1.428.82.82 0 001.261 0l3.482-3.929 3.471 3.928a.82.82 0 001.262 0 1.104 1.104 0 000-1.427l-4.107-4.647c-.34-.395-.913-.395-1.262 0z">
            </path>
          </svg>
        </div>


        <div class="profile_box visually-hidden" id="options_box">

          <div >
            <a href="{% url 'dashboard:profile' %}" target="_blank" class="d-flex nav-link active " style="align-items: center;">
            <svg width="16" style="margin: 5px;" height="16" viewBox="0 0 16 16"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8 2.28125C9.0875 2.28125 9.96875 3.1625 9.96875 4.25C9.96875 5.3375 9.0875 6.21875 8 6.21875C6.9125 6.21875 6.03125 5.3375 6.03125 4.25C6.03125 3.1625 6.9125 2.28125 8 2.28125ZM8 10.7188C10.7844 10.7188 13.7188 12.0875 13.7188 12.6875V13.7188H2.28125V12.6875C2.28125 12.0875 5.21562 10.7188 8 10.7188ZM8 0.5C5.92812 0.5 4.25 2.17812 4.25 4.25C4.25 6.32188 5.92812 8 8 8C10.0719 8 11.75 6.32188 11.75 4.25C11.75 2.17812 10.0719 0.5 8 0.5ZM8 8.9375C5.49687 8.9375 0.5 10.1938 0.5 12.6875V14.5625C0.5 15.0781 0.921875 15.5 1.4375 15.5H14.5625C15.0781 15.5 15.5 15.0781 15.5 14.5625V12.6875C15.5 10.1938 10.5031 8.9375 8 8.9375Z"
                fill="#190A28"></path>
            </svg>
            <div data-id="0" class="">View Profile</div>
          </a>
          </div>

          <div>
            <a href="{% url 'logout' %}" class="d-flex nav-link active " style="align-items: center;">
            <svg width="20" style="margin-right: 5px;" height="20" viewBox="0 0 20 20"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M10 4.16667C9.77899 4.16667 9.56702 4.25446 9.41074 4.41074C9.25446 4.56702 9.16667 4.77899 9.16667 5V6.66667C9.16667 7.1269 8.79357 7.5 8.33333 7.5C7.8731 7.5 7.5 7.1269 7.5 6.66667V5C7.5 4.33696 7.76339 3.70107 8.23223 3.23223C8.70107 2.76339 9.33696 2.5 10 2.5H15.8333C16.4964 2.5 17.1323 2.76339 17.6011 3.23223C18.0699 3.70107 18.3333 4.33696 18.3333 5V15C18.3333 15.663 18.0699 16.2989 17.6011 16.7678C17.1323 17.2366 16.4964 17.5 15.8333 17.5H10C9.33696 17.5 8.70107 17.2366 8.23223 16.7678C7.76339 16.2989 7.5 15.663 7.5 15V13.3333C7.5 12.8731 7.8731 12.5 8.33333 12.5C8.79357 12.5 9.16667 12.8731 9.16667 13.3333V15C9.16667 15.221 9.25446 15.433 9.41074 15.5893C9.56703 15.7455 9.77899 15.8333 10 15.8333H15.8333C16.0543 15.8333 16.2663 15.7455 16.4226 15.5893C16.5789 15.433 16.6667 15.221 16.6667 15V5C16.6667 4.77899 16.5789 4.56702 16.4226 4.41074C16.2663 4.25446 16.0543 4.16667 15.8333 4.16667H10Z"
                fill="#190A28"></path>
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M5.58936 6.91075C5.9148 7.23619 5.9148 7.76382 5.58936 8.08926L4.51195 9.16667H12.5001C12.9603 9.16667 13.3334 9.53977 13.3334 10C13.3334 10.4602 12.9603 10.8333 12.5001 10.8333H2.50011C2.16305 10.8333 1.85919 10.6303 1.73021 10.3189C1.60122 10.0075 1.67252 9.64908 1.91085 9.41075L4.41085 6.91075C4.73629 6.58531 5.26392 6.58531 5.58936 6.91075Z"
                fill="#190A28"></path>
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M1.91083 9.41075C2.23626 9.08531 2.7639 9.08531 3.08934 9.41075L5.58934 11.9107C5.91477 12.2362 5.91477 12.7638 5.58934 13.0893C5.2639 13.4147 4.73626 13.4147 4.41083 13.0893L1.91083 10.5893C1.58539 10.2638 1.58539 9.73619 1.91083 9.41075Z"
                fill="#190A28"></path>
            </svg>
            <div  class="">Logout</div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  {% block content %}


  {% endblock content %}

  {% block javascripts %}

  {% endblock javascripts %}



  <!-- Footer -->

  <div class="footer_mentions">
    <div class="footer_content">
      <!-- <span style="font-size: x-large;">Hatcher</span> -->
      <a href="">
        <img src="/media/logos/hatcher.png" width="150px" class="hatcher_logo2" alt="">
      </a>
      <span class="d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 417" class="footer_img">
          <path
            d="M459.37 104.22c.32 4.54.32 9.1.32 13.64 0 138.72-105.58 298.56-298.55 298.56-59.45 0-114.68-17.22-161.14-47.1 8.45.97 16.57 1.3 25.34 1.3 49.05 0 94.21-16.58 130.27-44.84A105.12 105.12 0 0 1 57.51 253a132.7 132.7 0 0 0 19.81 1.62c9.42 0 18.84-1.3 27.61-3.57A104.95 104.95 0 0 1 20.8 148.07v-1.3a105.68 105.68 0 0 0 47.43 13.32A104.86 104.86 0 0 1 21.44 72.7c0-19.49 5.2-37.36 14.3-52.95a298.27 298.27 0 0 0 216.36 109.8c-1.62-7.8-2.6-15.91-2.6-24.03C249.5 47.69 296.28.58 354.44.58c30.2 0 57.5 12.67 76.67 33.14a206.6 206.6 0 0 0 66.6-25.34 104.65 104.65 0 0 1-46.14 57.83c21.12-2.28 41.59-8.13 60.43-16.25a225.57 225.57 0 0 1-52.63 54.26z">
          </path>
        </svg>
        <span>Twitter</span>
      </span>
      <span class="d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" class="footer_img">
          <path
            d="M15.6 2c.4 1.4.4 4.4.4 4.4s0 3-.4 4.4c-.2.8-.8 1.4-1.5 1.6-1.4.4-6.1.4-6.1.4s-4.7 0-6-.4c-.8-.2-1.4-.8-1.6-1.6C0 9.4 0 6.4 0 6.4S0 3.4.4 2C.6 1.2 1.2.6 1.9.4 3.3 0 8 0 8 0s4.7 0 6 .4c.8.2 1.4.8 1.6 1.6zM6.4 9.2l4.8-2.8-4.8-2.8v5.6z">
          </path>
        </svg>
        <span>YouTube</span>
      </span>
      <span class="d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" class="footer_img">
          <path
            d="M15.6 2c.4 1.4.4 4.4.4 4.4s0 3-.4 4.4c-.2.8-.8 1.4-1.5 1.6-1.4.4-6.1.4-6.1.4s-4.7 0-6-.4c-.8-.2-1.4-.8-1.6-1.6C0 9.4 0 6.4 0 6.4S0 3.4.4 2C.6 1.2 1.2.6 1.9.4 3.3 0 8 0 8 0s4.7 0 6 .4c.8.2 1.4.8 1.6 1.6zM6.4 9.2l4.8-2.8-4.8-2.8v5.6z">
          </path>
        </svg>
        <span>Instagram</span>
      </span>
      <span class="d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 448 449" class="footer_img">
          <path
            d="M448 25.2v398.5c0 13.7-11.1 24.7-24.7 24.7H309.1V275h58.2l8.7-67.6h-67v-43.2c0-19.6 5.4-32.9 33.5-32.9h35.8V70.8c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9h-58.4V275h58.4v173.5H24.7C11.1 448.5 0 437.4 0 423.8V25.2C0 11.6 11.1.5 24.7.5h398.5C436.9.5 448 11.6 448 25.2z">
          </path>
        </svg>
        <span>Facebook</span>
      </span>
    </div>
    <div class="footer_content">
      <span class="mention-head">Use Cases</span>
      <span class="mentions">Talent Acquisition</span>
      <span class="mentions">Skill Development</span>
      <span class="mentions">Job Preparation</span>
      <span class="mentions">Career Launch</span>
      <span class="mentions">Internship Hunting</span>
      <span class="mentions">Networking Opportunities</span>
      <span class="mentions">Customized Guidance</span>
      <span class="mentions">Freelance Opportunities</span>
    </div>
    <div class="footer_content">
      <span class="mention-head">Explore</span>
      <span class="mentions">Personal Growth Plans</span>
      <span class="mentions">Company Listings</span>
      <span class="mentions">Industry Insights</span>
      <span class="mentions">Development Features</span>
      <span class="mentions">Job Opportunities</span>
      <span class="mentions">Pricing</span>
    </div>
    <div class="footer_content">
      <span class="mention-head">Contact Information</span>
      <span class="mentions">support@hatcher.com</span>
      <span class="mentions">+1-234-567-890</span>
      <span class="mentions">Color wheel</span>
      <span class="mentions">123 Hatcher Lane, Startup City</span>
    </div>
  </div>


  <script src="{% static 'js/candidate_dashboard/dashboard.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>