<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hacther</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        {% block stylesheet %}
            
        {% endblock stylesheet %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
        <link  href="/media/logos/hatcher_tab.png" rel="icon" type="image/png">
      </head>
      
<body>
    <nav class="navbar navbar-expand-lg " id="nav-section">
        <div class="container-fluid">
          <a class="navbar-brand" id="reload">
            <img src="/media/logos/hatcher.png" class="d-inline-block align-text-top hatcher-logo" alt="Hatcher">
          </a>
    
          <button class="navbar-toggler" style="border: none;" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars" style="color: #B197FC;"></i>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav text-center">
              <li class="nav-item">
                <a class="nav-link active fs-4" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-4" href="#feature-section">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-4" href="#price-section">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-4" href="#contact-section">Contact</a>
              </li>
            </ul>
          </div>
          <div class=" text-center" id="nav-btns">
            <button type="button" class="btn btn-primary fs-5 shake btn-gradient1" data-bs-toggle="modal"
              data-bs-target="#staticBackdrop">
              As Employer
            </button>
            <button type="button" class="btn btn-primary fs-5 shake btn-gradient2" data-bs-toggle="modal"
              data-bs-target="#staticBackdrop2">
              As Candidate
            </button>
          </div>
        </div>
      </nav>
      <br>
      <br>
      <br>

      {% block content %}
        
      {% endblock content %}
      <script>
        document.getElementById('reload').addEventListener('click', function () {
          location.reload();
        });
      </script>
      {% block javascripts %} {% endblock javascripts %}
</body>
</html>