{% extends '../blocks/emp_dashboard.html' %}

{% block content %}\
<br><br><br>
<h3 class="text-center mb-3">Company Register</h3>
<div>
<form class=" border p-3 rounded" method="post" enctype="multipart/form-data"
 action="{% url 'employer:company_register' %}" style="width: 50%; margin: auto;">
    {% csrf_token %}
    <div class="mb-3">
        <label for="fname" class="form-label">Company Name</label>
        <input   name = 'name' type="text" class="form-control"  id="fname" aria-describedby="emailHelp" required>
      </div>
      <div class="mb-3">
        <label for="age" class="form-label">Employees</label>
        <input  name="employees" type="number" class="form-control"  id="age" required>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Bio</label>
        <textarea name="bio" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div  requiredclass="mb-3">
        <label for="formFile" class="form-label">Picture</label>
        <input  name="image" class="form-control" type="file" id="formFile">
      </div>
    <div class="mb-3">
       <label for="exampleInputEmail1" class="form-label">Address</label>
      <input  name="address" type="text" class="form-control" id="exampleInputEmail1" required>
    </div>
    <div class="mb-3">
      <div class="text-end">
        <button requiredon type="submit" class="btn btn-dark">Submit</button>
      </div>
  </form>
</div>
{% endblock content %}

