{% extends '../blocks/emp_dashboard.html' %}

{% block content %}
  <!-- Display the user's data after form submission -->
  {% if employer %}

  {% for c in companies.values%}
  <img src="/media/{{c.image}}" width="100px" alt="..">
  {%endfor%}
    <h2>First Name: {{ employer.first_name }}</h2>
    <h2>Last Name: {{ employer.last_name }}</h2>  
    <h2>Phone Number: {{ employer.phone_no }}</h2>
    <h2>Email: {{ employer.email }}</h2>
    <h2>Password: {{ employer.password }}</h2>
    {% endif %}
    <a href="{% url 'start_hiring' %}"><button  type="button" class="btn btn-warning">Start Hiring</button></a>
    <a href="{% url 'company_register' %}"><button  type="button" class="btn btn-warning">Add company</button></a>
    <div class="container text-center">
    {% if posted_job %}
    {% for job in posted_job %}
    <p> {{forloop.counter}}. {{job}}, Description : {{job.description}}</p>
    {%endfor%}
    {% else %}
    <p>No Job Posted</p>
    {% endif %}
  </div>
{% endblock content %}
