{% extends '../blocks/dashboard_block.html' %}

{% block content %}
  <!-- Display the user's data after form submission -->
  {% if employer %}
  <a href="{% url 'employer_logout' %}" style="position:fixed;top: 10px;right: 15px;"><button class="btn btn-danger">logout</button></a>
  <a href="{% url 'community_post:post_list' %}" style="position:fixed;top: 50px;right: 15px;"><button class="btn btn-primary">Community</button></a>
  <a href="{% url 'employer_logout' %}" style="position:fixed;top: 10px;right: 15px;"><button class="btn btn-danger">logout</button></a>


    <h2>First Name: {{ employer.first_name }}</h2>
    <h2>Last Name: {{ employer.last_name }}</h2>  
    <h2>Phone Number: {{ employer.phone_no }}</h2>
    <h2>Email: {{ employer.email }}</h2>
    <h2>Password: {{ employer.password }}</h2>
    {% endif %}
    <a href="{% url 'start_hiring' %}" style="position:fixed;top: 10px;right: 15px;"><button class="btn btn-danger">start_hiring</button></a>
    
    {% if posted_job %}
    {% else %}
    <p>No Job Posted</p>
    {% endif %}
{% endblock content %}
