{% extends '../blocks/dashboard_block.html' %}
{% block css %}
{% load static %}
<style>
  .tox{
    height: 600px !important;
  }
</style>
{% endblock css %}
{% block content %}
<form id="postForm" method="post" action="{% url 'community_post:edit_post' post.id %} " class="container" >
    {% csrf_token %}
    <div class="mb-3">
      <label for="Post_Textarea" class="form-label">Edit Post</label>
      <textarea class="form-control" id="Post_Textarea" name="updated_content" rows="3">
        {{post.content}}
      </textarea>
    </div>
    <div class="text-end mb-2">
      <button type="submit" class="btn btn-dark" style="width: 100px;">Post</button>
    </div>

</form>
{% endblock content %}
{% block javascripts %}
<script src="https://cdn.tiny.cloud/1/soxyc0slkpvfgmlokdnfg041ezsy3u17nfwc7j2skdsz4nbg/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#Post_Textarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
  });
</script>



{% endblock javascripts %}