{% extends '../blocks/dashboard_block.html' %}
{% block title %}Home{% endblock title %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/home-sm.css' %}">
{% endblock css %}
{% block content %}
  <!-- Display the user's data after form submission -->
  {% if user %}
  <a href="{% url 'logout' %}" style="position:fixed;top: 10px;right: 15px;"><button class="btn btn-danger">logout</button></a>
  <a href="{% url 'community_post:post_list' %}" style="position:fixed;top: 50px;right: 15px;"><button class="btn btn-primary">Community</button></a>
    <h2>First Name: {{ user.first_name }}</h2>
    <h2>Last Name: {{ user.last_name }}</h2>  
    <h2>Phone Number: {{ user.phone_no }}</h2>
    <h2>Bio: {{ user.user_bio }}</h2>
    <h2>Email: {{ user.email }}</h2>
    <h2>Password: {{ user.password }}</h2>
    
    <!-- Display the Profile Image if available -->
    {% if user.user_profile_image %}
      <h2>Profile Picture:</h2>
      <img src="{{ user.user_profile_image.url }}" alt="Profile Image" style="width:200px;height:auto;">
    {% else %}
      <p>No profile image uploaded.</p>
    {% endif %}
  {% endif %}
<br>
<br>
<br>
{{company}}
{% if company %}
{%for c in company%}
  <div class="container text-centre w-50 ">
    <div class="card mb-3 ">
      <div class="card-body">
        <div class="job_cards">
          <div class="job_cards">
            {{counter}}
          <img src= "../media/{{c.1}}" class="cmp_img" width="30px" alt="image {{counter}}">
          <h5 class="card-title" style="margin: auto 10px;color:Red">{{c.0}}</h5>

        </div>
          <svg class="" xpmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#1F8268"><path d="M8.355 6.316a.985.985 0 0 0 0 1.515l4.714 4.17-4.714 4.17a.985.985 0 0 0 0 1.515c.474.419 1.24.419 1.713 0l5.577-4.933a.985.985 0 0 0 0-1.515l-5.577-4.933c-.461-.408-1.239-.408-1.713.01Z"></path></svg>
        </div>
        <p class="card-text">Post - {{c.2}}</p>
        <p class="card-text">Important Skill - {{c.3}}</p>
        <p class="card-text">Graduation - {{c.4}}</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  {%endfor%}
{%else%}
<dvi class="container text-center">Will be Updated Soon!</dvi>
{%endif%}
{% endblock content %}
