{% extends '../blocks/dashboard_block.html' %}
{% block title %}Home{% endblock title %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/job_detail.css' %}">
{% endblock css %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="container border search_div d-flex justify-content-center" id="search-div">
  <form action="{% url 'dashboard:job_search' %}" method="get" class="d-flex flex-row " style="width: 90%;">
    {{ csrftoken }}
    <select class="form-select" aria-label="Default select example" name="job_type" id="job_type_select" required>
      <option value="Internship" selected>Internship</option>
      <option value="Full Time">Full Time</option>
      <option value="Part Time">Part Time</option>
      <option value="Hourly">Hourly</option>
      <option value="Hourly">Freelance</option>
    </select>
    <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/vertical-line.png" alt="vertical-line"
      class="align-self-center" />
    <input type="text" placeholder="Enter KeyWord [company/position]" name="keyword" class="form-control" required />
    <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/vertical-line.png" alt="vertical-line"
      class="align-self-center" />
    <input class="form-control " type="text" placeholder="Location [City|Remote]" name="location" required />
    <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/vertical-line.png" alt="vertical-line"
      class="align-self-center" />
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>


{{user}}
{{job}}



{% endblock content %}
{% block javascripts %}
{% load static %}
<script src="{% static 'js/job_detail.js'%}"></script>
{% endblock javascripts %}