{% extends '../blocks/dashboard_block.html' %}
{% block title %}Home{% endblock title %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/job_detail.css' %}">
{% endblock css %}
{% block content %}

<div class="container border search_div d-flex justify-content-center" id="search-div">
  <form action="{% url 'dashboard:job_search' %}" method="get" class="d-flex flex-row " style="width: 90%;">
    {{ csrftoken }}
    <select class="form-select" aria-label="Default select example" name="job_type" id="job_type_select" required>
      <option value="Internship" selected>Internship</option>
      <option value="Full Time">Full Time</option>
      <option value="Part Time">Part Time</option>
      <option value="Hourly">Hourly</option>
      <option value="Hourly">Freelance</option>
    </select>
    <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/vertical-line.png" alt="vertical-line"
      class="align-self-center" />
    <input type="text" placeholder="Enter KeyWord [company/position]" name="keyword" class="form-control" required />
    <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/vertical-line.png" alt="vertical-line"
      class="align-self-center" />
    <input class="form-control " type="text" placeholder="Location [City|Remote]" name="location" required />
    <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/vertical-line.png" alt="vertical-line"
      class="align-self-center" />
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>
{{job.}}
<div class="main-container ">
  <div class="container-1">
    <div class="add_pad" style="margin-bottom: 16px;">
      <div class="card card_id_contain" style="border-radius: 14px;; border: none;">
        <div class="card-body">
          <div class="job_cards mb-2 d-flex justify-content-between">
            <div class="job_cards d-flex">
              <img src="/media/company_images/hatcher_tab.png" class="cmp_img" width="50px" height="50px" alt="image 127">
              <div class="d-flex flex-column" style="margin-left: 10px;">
                <span style="
                    line-height: 27px;
                    font-size: 26px;
                    ">
                  {{job.title}}
                </span>
                <span style="color: gray;font-size: 16px;">
                  {{job.company__name}}
                </span>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="job_cards align-item-center" style="width: fit-content;align-items: center;">
              <img width="19px" height="auto"
                src="https://storage.googleapis.com/mumbai_apnatime_prod/jobs_page/Location_icon.webp" alt="">
              <span style="color: gray;font-size: 16px;margin-left: 5px;">{{job.location}}</span>
            </div>
            <div class="job_cards align-item-center" style="width: fit-content;align-items: center;">
              <img width="19px" height="auto"
                src="https://storage.googleapis.com/mumbai_apnatime_prod/jobs_page/Salary_icon.webp" alt="">
              <span style="color: gray;font-size: 16px;margin-left: 5px;"><img src="/media/logos/rupee.png" alt=""
                  width="15">{{job.salary_minimum}}-<img src="/media/logos/rupee.png" alt=""
                  width="15">{{job.salary_maximum}} monthly</span>
            </div>
          </div>
          <div class="d-flex " style="margin-top: 10px;">
            <!-- <div class="info-card rounded ">{{job.title}}</div> -->
            {% if job.req_skill__imp_skill %}
            <div class="info-card rounded ">{{job.req_skill__imp_skill}}</div>
            {% endif %}

            {% if job.work_type %}
            <div class="info-card rounded ">{{job.work_type}}</div>
            {% endif %}

            {% if job.job_type %}
            <div class="info-card rounded ">{{job.job_type}}</div>
            {% endif %}

            {% if job.experience %}
            <div class="info-card rounded ">{{job.experience}}</div>
            {% endif %}

            {% if job.perks %}
            <div class="info-card rounded ">{{job.perks}}</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="detail-description ">
      <h5>Job Description</h5>
      <br>
      {{ job.description|safe }}
    </div>
  </div>
  <div class="container-2">
    <img src="https://cdn.apna.co/cloudinary/employer-dashboard-images/Logged%20in.png" width="335" alt="" class="">
  </div>
</div>




{% endblock content %}
{% block javascripts %}
{% load static %}
<script src="{% static 'js/candidate_dashboard/job_detail.js'%}"></script>
{% endblock javascripts %}