body{
    font-family: Arial, Helvetica, sans-serif;
    background: #c8c6ef36;
    
}
.navbar{
    background-color: #706ce4 ;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 5;
    padding: 0;
}
.hatcher-logo {
    height: 65px;
    cursor: pointer;
}
.nav-item{
    transition: 1s;
}
.nav-item>a:hover{
    color: white !important;
}
.nav-item{
    margin: 0 5px;
    align-self: center;
}
.nav-link{
    font-weight: 700;
}
#search-box {
    position: relative;
    left: -88px;
    color: white;
    display: flex;
    width: 200px;
    padding: 3px 5px;
    justify-content: center;
    font-weight: 900;
    opacity: 0.65;
}
#search-box:hover{
    display: flex;
    width: 200px;
    justify-content: center;
    font-weight: 900;
    opacity: 1;
    border: 2px solid white !important;
}
.navbar-brand{
    padding: 0;
}
.search_div{
    background: white;
    border-radius: 23px;
    margin-bottom: 40px;
    padding: 20px 50px;
    /* width: 50%; */
}

#Up_Arrow{
    position: fixed;
    bottom: 40px;
    right: 50px;
}

/* Footer Css */
.footer_mentions{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer_content{
    display: flex;
    flex-direction: column;
    line-height: 40px;
    padding: 0 50px;
}
.footer_img{
    fill: #4c4bde;
    margin-right: 8px;
}
.mentions{
    font-size: large;

}
.mentions:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
}
.mention-head{
    font-size: 20px;
    font-weight: 600;
}
.Copyright{
    font-size: small;
    padding-bottom: 5px;
}
.hatcher_logo2{
    margin-left: -9px;
}

.profile_box{
    position: fixed;
    top: 80px;
    right: 24px;
    background:white;
    padding: 20px;
    border-radius: 16px;
}

.rotate-180deg{
    rotate: 180deg;
}