.job_cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.w-20{
    width: 20%;
}

.w-60{
    width: 60%;
}
.profile-3{
    background-image: url('../../media/logos/image.png');
    height: max-content;
}
.container-part{
    height: fit-content;
}

.add_pad{
    padding: 0 .5rem 1.1rem;
}
.info-card {
    display: inline-block;
    padding: 0px 8px;
    background: #9aabed40;
    font-size: 14px;
    font-weight: 350;
    margin: 4px;
    min-width: max-content;
}

.card-p{
    padding: 0;
    margin: 0;
}
.card-updated{
    padding: 0;
    margin: 0;
    text-align: end;
}


.rotate{
    transform: rotate(180deg);
}
.container1{
    background: white;
}
.container1 > p{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.filter_devide{
    color: inherit;
    background: #8c8b8b;
    height: 1.5px;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}

.container2{
    width: 40%;
}
.container3 > div{
    background: white;
}
.container3>div{
    margin-bottom: .5rem;
}
.autocomplete-items{
    position: absolute;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    z-index: 1;
    top: 203px;
    right: 327px;
    width: 275px;
}
.autocomplete-item{
    font-size: larger;
    padding: 5px;
    border-bottom: 2px solid #0000004f;
}
.autocomplete-item:hover {
    background: #8080802e;
}