.main-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
.container-1{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.detail-description{
    border-radius: .75rem;
    background-color: white;
    padding: 16px;
}
.container-2{
   margin-left: 16px;
}
.info-card {
    display: inline-block;
    padding: 0px 8px;
    background: #9aabed40;
    font-size: 14px;
    font-weight: 350;
    margin: 4px;
}
.description {
    margin: 0;
    font-size: 14px;
    color: gray;
}
.apply_job_div{
    height: 73px;
    background: #ffff;
    gap: 30%;
    position: fixed;
    width: 100%;
    top: 58px;
    box-shadow: 0px 3px 5px 0px #62606036;
    z-index: 1000;
}

.apply_button[disabled = "true"] {
    opacity: 0.6;
    cursor: not-allowed !important;
  }
.apply_button{
    width: 100px;
}
  