body{
    background-color: #fff7ed;
    height: 100vh;
    font-family: monospace;
}
button:hover{
    margin-top: -5px;
    transition: 0.1s;
}
.navbar{
    background-color: #86e9e9 ;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
}
.first-section{
    margin: 87px 3rem ;
}
#navbarNav{
    padding-right: 50px;
    justify-content: end;
}
.nav-item:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
    text-decoration-color: #1714df ;
}
.nav-item{
    margin: 0 5px;
}

.main{
    height: 500px;
}
.sections-heading{
    text-align: center;
    font-family: monospace;
    color: rgb(186, 96, 96);
}
.card{
    margin: 5px;
}
.price-section{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.price-section>.card{
    margin: 10px;
}
.contact-form{
    background-color: #f2b950;
    width: 50%;
    padding: 20px;
}
.form-btn{
    background-color: #6877e2;
    color: white;
}
.form-btn:active{
    background-color: #4153d4;
    color: white;
}

.form-btn:hover{
    background-color: #4153d4;
    color: white;
}
.form-container{
    width: 50%;
}
.contact-section>section{
    width: 50%;
}
.image-div {
    background-image: url('../../media/logos/image.png'); 
}

/* Responsive */
@media (max-width: 995px) {
    #navbarNav{
        padding-right: 0px ;
        justify-content: end;
    }
    .price-section{
        flex-direction: column;
        align-items: center;
    }
    .form-container{
        width: 90%;
    }
    .contact-section>section{
        text-align: center;
        width: fit-content;
        margin-bottom: 10px;
    }
    .contact-form{
        background-color: #f2b950;
        width: 100%;
        padding: 20px;
    }
    .user-modal{
        align-items: center;
    }
}