body{
    background-color: #fff7ed;
    height: 100vh;
    font-family: monospace;
    display: flex;
    justify-content: center;
}
.main-container{
    background-color: #f2b950;
    padding: 10px;
    width: 32%;
    border-radius: 16px;
    height: fit-content;
    align-self: center;
}
.sub-btn{
    background-color: #ffd4ff;
    border-radius: 8px;
    display: inline-block;
}
p{
    display: inline;
}
.sections-heading{
    text-align: center;
    font-family: monospace;
    color: rgb(213, 37, 37);
}
.selection-box{
    display: flex;
    justify-content:space-around;
}
.selection-box>select{
    width: 210px;
}
/* Responsive */
@media (max-width : 600px){
    .main-container{
        background-color:transparent;
        padding: 10px;
        width: fit-content;
        border-radius: 16px;
        height: fit-content;
        align-self: center;
    }
}
@media (max-width : 995px){
    .main-container{
        padding: 10px;
        width: fit-content;
        border-radius: 16px;
        height: fit-content;
        align-self: center;
    }
}